<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" #input />
</mat-form-field>

<div *rxIf="isLoading$ | async" class="loading-spinner-container">
  <mat-spinner class="loading-spinner"></mat-spinner>
</div>

<table
  *rxIf="(isLoading$ | async) === false"
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8"
>
  @for (header of displayedColumns; track header) {
    <ng-container [matColumnDef]="header">
      <th mat-header-cell *matHeaderCellDef>
        {{ header | titlecase }}
      </th>

      <td mat-cell *matCellDef="let element">
        {{ element[header] }}
      </td>
    </ng-container>
  }

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    (click)="openDialog(row)"
    *matRowDef="let row; columns: displayedColumns"
    [class.selected-row]="selectedRow === row"
  ></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">
      No data matching the filter "{{ input.value }}"
    </td>
  </tr>
</table>
